.history { 
   width: 70%;
   text-align: center;
   margin: 2rem auto 2rem;
   padding: 1rem;
   border: 1px solid gray;
   
}

.table {
   .head {
      display: grid;
      grid-template-columns: .1fr .15fr .25fr .25fr .25fr .1fr;
   }
}