.history__item {
   display: grid;
   grid-template-columns: .1fr .15fr .25fr .25fr .25fr .1fr;
   margin-bottom: 1rem;

   & button {
      width: 4rem;
      height: 2.5rem;
      border-radius: 0;
      border: 1px solid black;

   }
}